<ng-container *ngIf="load === false else loaded">
    <app-spinner></app-spinner>
</ng-container>

<ng-template #loaded>

    <div class="container">

        <div class="superior">

            <div class="superior-esquerda">
                <ng-container *ngIf="this.imagem === '' else possuiFoto">
                    <img src="../../../assets/img/meu-perfil.png">
                </ng-container>

                <ng-template #possuiFoto>
                    <img [src]="this.imagem">
                </ng-template>

            </div>

            <div class="superior-direita">
                <h1>Dados Basicos</h1>

                <section class="session-itens">
                    <section style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div class="item-superior">
                            <p>Nome Completo</p>
                            <h2>{{ paciete.nome_usuario }}</h2>
                        </div>

                        <div class="item-superior">
                            <p>Data de Nascimento</p>
                            <h2>{{ paciete.data_nascimento | date }}</h2>
                        </div>

                    </section>

                    <section style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div class="item-inferior">
                            <p>Condições Médicas</p>
                            <h2>{{ paciete.comorbidades }}</h2>
                        </div>

                        <div class="item-inferior">
                            <p>Contato</p>
                            <h2>{{ paciete.telefone }}</h2>
                        </div>

                    </section>
                </section>
            </div>

        </div>

        <div class="inferior">
            <section class="funcionalidades">
                <div style="display: flex; width: 100%; justify-content: space-between;">
                    <div class="func-button">
                        <button 
                            (click)="abrirProgressoPaciente(paciete)"
                            matTooltip="Visualizar progresso do paciente"
                        >
                            Progresso do paciente
                        </button>

                        <div class="botao-icone">
                            <button 
                                (click)="abrirRegistrarProgresso(paciete)"
                                matTooltip="Registrar progresso do paciente"
                            >
                                <mat-icon>
                                    how_to_reg   
                                </mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="func-button">
                        <button
                            matTooltip="Plano alimentar"
                            (click)="irParaGerenciarPlano()"
                        >
                            Gerenciar plano alimentar de {{ paciete.nome_usuario }}
                        </button>

                        <div class="botao-icone">
                            <button 
                                matTooltip="Plano alimentar atual"
                                (click)="abrirVisualizarPlano(paciete)"
                            >
                                <mat-icon>
                                    restaurant
                                </mat-icon>
                            </button>
                        </div>
                    </div>

                    <div 
                        class="func-button"
                        [matTooltip]="'Editar informações de ' + paciete.nome_usuario"
                        (click)="abrirEditarPaciente(paciete)"    
                    >
                        <button>Editar informações do paciente</button>
                    </div>
                </div>
            </section>

            <section class="botoes">
                <div class="botao-inicio">
                    <button (click)="irParaInicio()">Início</button>
                </div>
                <div class="botao-voltar">
                    <button (click)="irParaTelaAnterior()">Voltar</button>
                </div>
            </section>
        </div>

    </div>

</ng-template>