<div class="container">

    <div class="title">
        <h3>Informações do Paciente</h3>
    </div>

    <form class="formulario">

        <section class="inputs">
            <div class="input-item">
                <p>Nome do Paciente</p>
                <input type="text" placeholder="Nome Completo" disabled [value]="paciente.nome_usuario">
            </div>

            <div class="input-item">
                <p>Data de Nascimento</p>
                <input type="text" disabled [value]="paciente.data_nascimento | date">
            </div>

            <div class="input-item">
                <p>CEP</p>
                <input type="text" placeholder="Endereço Completo" disabled [value]="paciente.cep">
            </div>
        </section>

        <section class="inputs">
            <div class="input-item">
                <p>Telefone</p>
                <input type="text" placeholder="XX XXXX-XXXX" disabled [value]="paciente.telefone">
            </div>

            <div class="input-item">
                <p>E-mail</p>
                <input type="text" placeholder="paciente@email.com" disabled [value]="paciente.email">
            </div>

            <div class="input-item">
                <p>Principal Objetivo/Queixa</p>
                <input type="text" placeholder="Ex.: Emagrecimento" disabled [value]="paciente.queixa">
            </div>
        </section>

        <section class="inputs">
            <div class="input-item">
                <p>Altura</p>
                <input type="text" placeholder="Em metros" disabled [value]="altura(paciente.altura)">
            </div>

            <div class="input-item">
                <p>Peso</p>
                <input type="text" placeholder="Em Kg" disabled [value]="peso(paciente.peso)">
            </div>

            <div class="input-item">
                <p>Gênero</p>
                <input type="text" placeholder="Gênero" disabled [value]="genero(paciente.sexo)">
            </div>
        </section>

        <section class="text-area">
            <div class="text-area-item">
                <p>Doenças/ Comorbidade</p>
                <textarea name="" id="" cols="30" rows="10"
                placeholder="Campo para mencionar informações complementares ou pertinentes">
                    {{ paciente.comorbidades }}
                </textarea>
            </div>

            <div class="text-area-item">
                <p>Medicações Administradas</p>
                <textarea name="" id="" cols="30" rows="10"
                placeholder="Campo para mencionar informações complementares ou pertinentes">
                    {{ paciente.medicacoes }}
                </textarea>
            </div>
        </section>

        <div class="botoes">
            <div class="botao-fechar">
                <button (click)="fechar()">Fechar</button>
            </div>
        </div>

    </form>

</div>