<div class="container">

    <div class="title">
        <h3>Informações do Paciente</h3>
    </div>

    <form class="formulario" [formGroup]="this.formulario">

        <!--Adicionar os formControlName nos inputs, quando essa tela estiver implementada-->

        <section class="inputs">
            <div class="input-item">
                <p>Nome do Paciente</p>
                <input type="text" placeholder="Nome Completo" disabled>
            </div>

            <div class="input-item">
                <p>Data de Nascimento</p>
                <input type="date" disabled>
            </div>

            <div class="input-item">
                <p>Endereço</p>
                <input type="text" placeholder="Endereço Completo" disabled>
            </div>
        </section>

        <section class="inputs">
            <div class="input-item">
                <p>Telefone</p>
                <input type="text" placeholder="XX XXXX-XXXX" disabled>
            </div>

            <div class="input-item">
                <p>E-mail</p>
                <input type="text" placeholder="paciente@email.com" disabled>
            </div>

            <div class="input-item">
                <p>Principal Objetivo/Queixa</p>
                <input type="text" placeholder="Ex.: Emagrecimento" disabled>
            </div>
        </section>

        <section class="inputs">
            <div class="input-item">
                <p>Altura</p>
                <input type="text" placeholder="Em metros" disabled>
            </div>

            <div class="input-item">
                <p>Peso</p>
                <input type="text" placeholder="Em Kg" disabled>
            </div>

            <div class="input-item">
                <p>Gênero</p>
                <input type="text" placeholder="Gênero" disabled>
            </div>
        </section>

        <section class="text-area">
            <div class="text-area-item">
                <p>Doenças/ Comorbidade</p>
                <textarea name="" id="" cols="30" rows="10" disabled
                placeholder="Campo para mencionar informações complementares ou pertinentes"></textarea>
            </div>

            <div class="text-area-item">
                <p>Medicações Administradas</p>
                <textarea name="" id="" cols="30" rows="10" disabled
                placeholder="Campo para mencionar informações complementares ou pertinentes"></textarea>
            </div>
        </section>

        <div class="botoes">
            <div class="botao-fechar">
                <button (click)="fechar()">Fechar</button>
            </div>
        </div>

    </form>

</div>