.container {
    // background-color: red;
    display: flex;
    flex-direction: column;
    margin: 50px 100px 0 100px; /* superior | direita | inferior | esquerda */
}

.title {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    p {
        color: #28B225;
        font-size: 48px;
    }   

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        height: 50px;

        font-size: 24px;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #F49320;
        padding: 0px 20px 0px 20px; /* superior | direita | inferior | esquerda */
        border-radius: 25px;
        border: none;
    }

    button:hover {
        cursor: pointer;
        background-color: #ca7b1a;
    }
}

.table {
    margin: 40px 0 0 0; /* superior | direita | inferior | esquerda */
    border: 1px solid #F49320;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.table-header {
    background-color: #CBEDCB;
    display: flex;
    width: 100%;
    min-height: 70px;
    color: #28B225;
    font-size: 26px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    table, th {
        width: 100%;
    }

    th {
        padding: 11px 10px 9px 10px;  /* superior | direita | inferior | esquerda */
        text-align: center;
        width: 120px;
        font-weight: bold;
    }      

}

.table-body {
    width: 100%;
    max-height: 350px; 
    color: #212121;
    font-size: 21px;

    table, th {
        width: 100%;
    }

    td{
        padding: 11px 10px 9px 10px;  /* superior | direita | inferior | esquerda */
        text-align: center;
        width: 120px;
    }
       

    button {
        background-color: #FFFFFF;
        border: none;
    }

    button:hover {
        cursor: pointer;
    }

    // Adicionando um scroll bar no sentido vertical:
    overflow-x: hidden;
    overflow-y: scroll;
}

// Configurações do scroll bar:

*::-webkit-scrollbar {
    width: 5px;
}
  
*::-webkit-scrollbar-track {
    background: #f3f3f3;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #CBEDCB;
    border-radius: 20px;
}

// ---------------------------- //

.table-sem-conteudo {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #F49320;
    }
}

.table-footer {
    background-color: #CBEDCB;
    height: 30px;
    margin: 0 0 80px 0; /* superior | direita | inferior | esquerda */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}