.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    height: 10%;
    width: 100%;
    border-bottom: 1px dotted rgba(119, 187, 133, 0.769);

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #28B225;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-form-field {
        width: 80%;
        margin-top: 10px;
    }

    textarea {
        height: 150px;
    }
}

.registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    border-top: 1px dotted rgba(119, 187, 133, 0.769);
    width: 100%;

    button {
        margin: 0 5px 0 5px;
        font-size: 15px;
        box-shadow: 0.05em 0.05em 0.05em #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        padding: 8px;
        border: none;
        background-color: #28B225;
        border-radius: 50px;
        margin-top: 10px;
    }

    button:hover {
        cursor: pointer;
        color: #e4e4e4;
        background-color: #cf7d18;
    }
}