.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.superior {
    background-color: #22A353;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 5px dotted rgba(119, 187, 133, 0.769);
}

.superior-esquerda {
    padding: 0 80px 0 80px;        /* topo | direita | inferior | esquerda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 189px;
        height: 175px;
        box-shadow: 0.05em 0.05em 0.05em #333;
        background-color: #CBEDCB;
        padding: 30px;
        border-radius: 100%;
    }

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        padding: 5px;
        margin-top: 35px;
        border: none;
        background-color: #F49320;
        border-radius: 50px;
    }

    button:hover {
        cursor: pointer;
        color: #e4e4e4;
        background-color: #cf7d18;
    }
}

.superior-direita {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
        color: #FFFFFF;
    }
}

.session-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.item-superior {
    background-color: #FFFFFF;
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
    width: 40%;
    height: 100%;
    margin-top: 35px;
    margin-right: 35px;

    p {
        color: #CCCCCC;
        font-size: 20px;
        margin-bottom: 10px;
    }

    h2 {
        color: #212121;
        font-size: 21px;
    }
}

.item-inferior {
    background-color: #FFFFFF;
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
    width: 40%;
    height: 100%;
    margin-bottom: 45px;
    margin-right: 35px;

    p {
        color: #CCCCCC;
        font-size: 20px;
        margin-bottom: 10px;
    }

    h2 {
        color: #212121;
        font-size: 21px;
    }
}

.inferior {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.funcionalidades {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.func-button {
    margin: 20px;
    width: 30%;

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        color: #FFFFFF;
        font-size: 24px;
        height: 80px;
        width: 100%;
        background-color: #22A353;
        border: none;
        border-radius: 15px;
    }

    button:hover {
        background-color: #F49320;
        cursor: pointer;
    }
}

.botao-icone {
    padding: 10px 10px 0 0;
    justify-content: end;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin: 0 80px 0 80px;       /* topo | direita | inferior | esquerda */

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        color: #FFFFFF;
        font-size: 24px;
        padding: 10px 100px 10px 100px;
        background-color: #22A353;
        border: none;
        border-radius: 15px;
    }

    button:hover {
        background-color: #F49320;
        cursor: pointer;
    }
}