<ng-container *ngIf="load === false else loaded">
    <app-spinner></app-spinner>
</ng-container>

<ng-template #loaded>

    <div class="container">

        <div class="superior">

            <div class="superior-esquerda">
                <ng-container *ngIf="this.imagem === '' else possuiFoto">
                    <img src="../../../assets/img/meu-perfil.png">
                </ng-container>
                
                <ng-template #possuiFoto>
                    <img [src]="this.imagem">
                </ng-template>      

            </div>

            <div class="superior-direita">
                <h1>Dados Basicos</h1>

                <section class="session-itens">
                    <section style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div class="item-superior">
                            <p>Nome Completo</p>
                            <h2>{{ nutricionista.nome_usuario }}</h2>
                        </div>
        
                        <div class="item-superior">
                            <p>Região</p>
                            <h2>{{ nutricionista.regiao }}</h2>
                        </div>

                        <div class="item-superior">
                            <p>Especialidade</p>
                            <h2>{{ nutricionista.especialidade }}</h2>
                        </div>
                    </section>

                    <section style="display: flex; flex-direction: row; justify-content: space-between;">
                        <div class="item-inferior">
                            <p>Redes Sociais</p>
                            <h2>{{ nutricionista.redesocial }}</h2>
                        </div>
        
                        <div class="item-inferior">
                            <p>Contato</p>
                            <h2>{{ nutricionista.telefone }}</h2>
                        </div>

                        <div class="item-inferior">
                            <p>Formação</p>
                            <h2>{{ nutricionista.faculdade }}</h2>
                        </div>
                    </section>
                </section>
            </div>

        </div>

        <div class="inferior">
            <section class="funcionalidades">
                <div style="display: flex; width: 100%; justify-content: space-between;">
                    <div class="func-button">
                        <button 
                            matTooltip="Entrar em contato com o nutricionista por e-mail"
                            (click)="abrirEnviarEmail(nutricionista)"
                        >
                            Enviar mensagem
                        </button>
                    </div>

                    <div class="func-button">
                        <button (click)="irParaComunidade()">Visualizar postagens</button>
                    </div>

                    <div class="func-button">
                        <button (click)="abrirAvaliacoesNutricionista(nutricionista)">Avaliações</button>

                        <ng-container *ngIf="this.role === 'paciente'">

                            <div class="botao-icone">
                                <button 
                                    matTooltip="Avaliar nutricionista"
                                    (click)="avaliarNutricionista(nutricionista)"
                                >
                                    <mat-icon>
                                        star_half
                                    </mat-icon>
                                </button>
                            </div>

                        </ng-container>
                        
                    </div>
                </div>
            </section>

            <section class="botoes">
                <div class="botao-inicio">
                    <button (click)="irParaInicio()">Início</button>
                </div>
                <div class="botao-voltar">
                    <button (click)="irParaTelaAnterior()">Voltar</button>
                </div>
            </section>
        </div>

    </div>

</ng-template>