<ng-container *ngIf="load === false else loaded">
    <app-spinner></app-spinner>
</ng-container>


<ng-template #loaded>


    <div class="container">

        <div class="title">
            <h1>Consultar Nutricionistas</h1>
        </div>

        <div class="table">
            <div class="table-header">

                <table>
                    <tr>
                        <th *ngFor="let coluna of colunas">{{ coluna }}</th>
                    </tr>
                </table>

            </div>

            <div class="table-body">

                <ng-container *ngIf="nutricionistaList.length > 0 else semConteudo">
                
                    <table>
                        <tr *ngFor="let nutricionista of nutricionistaList">
                            <td 
                                (click)="irPaginaNutri(nutricionista.id_nutricionista)"
                                [matTooltip]="'Especialidade: ' +  nutricionista.especialidade"
                            >
                                {{ nutricionista.nome_usuario }}
                            </td>
                            <td
                                (click)="irPaginaNutri(nutricionista.id_nutricionista)"
                            >
                                {{ nutricionista.regiao }}
                            </td>
                            <td
                                (click)="irPaginaNutri(nutricionista.id_nutricionista)"
                            >
                                {{ nutricionista.telefone }}
                            </td>
                            <td
                                (click)="irPaginaNutri(nutricionista.id_nutricionista)"
                            >
                                {{ nutricionista.redesocial }}
                            </td>
                            <td>
                                <button (click)="irPaginaNutri(nutricionista.id_nutricionista)" matTooltip="Ir para página do Nutricionista">
                                    <mat-icon>person</mat-icon>
                                </button>
                            </td>
                        </tr>
                        
                    </table>
                
                </ng-container>
                
                <ng-template #semConteudo>

                    <div class="table-sem-conteudo">
                        <h2>Não foi encontrado nenhum nutricionista com os parâmetros aplicados</h2>
                    </div>

                </ng-template>
                
            
            </div>
        </div>
        <div class="table-footer">
        </div>

        <div class="botao">
            <button (click)="fechar()">Fechar</button>
        </div>

    </div>

</ng-template>