.container {
    width: 100%;
    height: 100%;
    
    // Adicionando um scroll bar no sentido vertical:
    overflow-x: hidden;
    overflow-y: scroll;
}

// Configurações do scroll bar:

*::-webkit-scrollbar {
    width: 5px;
}
  
*::-webkit-scrollbar-track {
    background: #f3f3f3;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #28B225;
    border-radius: 20px;
}

// ---------------------------- //
.title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    h1 {
        padding: 20px 0 0 50px;
        color: #28B225;
    }

    button {
        margin-right: 50px; 
    }
}

.adicionar-post {
    padding: 20px 0 0 20px;

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        padding: 10px;
        border: none;
        background-color: #F49320;
        border-radius: 50px;
    }

    button:hover {
        cursor: pointer;
        color: #e4e4e4;
        background-color: #cf7d18;
    }
}

.body {
    background-color: #CBEDCB;
    min-height: 70%;
    margin: 20px 50px 50px 50px;
    border: 1px solid #28B225;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.body-post {
    height: 100%;
    margin: 10px;
    border: 1px solid #28B225;
    border-radius: 20px;
}

.body-sem-post {
    padding-top: 200px;
    height: 100%;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post {
    background-color: #FFFFFF;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px 0 5px 0;

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        padding: 5px;
        border: none;
        background-color: #28B225;
        border-radius: 50px;
        margin-top: 10px;
    }

    button:hover {
        cursor: pointer;
        color: #e4e4e4;
        background-color: #cf7d18;
    }
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-form-field {
        margin: 15px 20px 0 10px;
    }
}

.div-data {
    width: 100%;
}

.data-postagem {
    display: flex;
    width: 15%;
    input {
        color: #28B225;
    }
}

.conteudo-postagem {
    width: 50%;

    textarea {
        height: 100px;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
}

.iframe-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: 3px dotted #CBEDCB;
}

.comentario {
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    border: 1.5px dotted #CBEDCB;
    margin-bottom: 20px;

    mat-label {
        color: #28B225;
    }

    h3 {
        padding: 10px 0 10px 0;
    }
}

.comentario-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;

    span {
        color: #28B225;
    }
}

.footer {
    height: 10%;
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 50px 50px 50px;

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        height: 50px;
    
        font-size: 24px;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #F49320;
        padding: 0px 40px 0px 40px; /* superior | direita | inferior | esquerda */
        border-radius: 25px;
        border: none;
    }
    
    button:hover {
        cursor: pointer;
        background-color: #ca7b1a;
    }
}