<ng-container *ngIf="load === false else loaded">
    <app-spinner></app-spinner>
</ng-container>


<ng-template #loaded>

    <ng-container *ngIf="this.progressos.length === 0 else possuiProgressos">
        <div class="container">
            <div class="header">
                <h3>Paciente: {{paciente.nome_usuario}}</h3>
                <h1>Evolução do Paciente</h1>
            </div>
        
            <div class="body-sem-conteudo">
                <h2>
                    O paciente ainda não possui nenhum registro de evolução!
                </h2>
            </div>
        
            <div class="footer">
                <button (click)="fechar()">Fechar</button>
            </div>
        </div>
    </ng-container>

    <ng-template #possuiProgressos>
        <div class="container">
            <div class="header">
                <h3>Paciente: {{paciente.nome_usuario}}</h3>
                <h1>Evolução do Paciente</h1>
            </div>
        
            <ng-container *ngFor="let registro of progressos">

                <div class="body-conteudo">

                    <h3><span>Data do registro:</span> {{ registro.data | date }}</h3>
                    <h4>Registro:</h4>
                        <p>Peso: {{registro.peso}} Kg</p>
                        <p>Medidas Corporais: {{registro.medidas_corporais}}</p>
                        <p>Hábitos Alimentares: {{registro.habitos_alimentares}}</p>
                        <p>Nível de Atividade: {{registro.nivel_atividade_fisica}}</p>
                    
                </div>

            </ng-container>
            

        
            <div class="footer">
                <button (click)="fechar()">Fechar</button>
            </div>
        </div>
    </ng-template>
    

</ng-template>