<!-- Esse header só aparece pra que está logado -->
<div class="header">
    <div class="itens">
        <a href="inicio">Página Inicial</a>

        <!-- Adicionar a rota  -->
        <a href="#">Meus Pacientes</a>

        <!-- Adicionar a rota  -->
        <a href="#">Minha Comunidade</a>    
    </div>

    <div class="meu-perfil">
        <!-- Adicionar a funcionalidade ao botão  -->
        <button>
            Meu Perfil 
            <img src="../../../assets/img/icone-user.png">
        </button>
    </div>
</div>