* {
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;       // fazendo ocupar a página toda
    background: linear-gradient(#1484A7, #28B225);      // cor de fundo
    overflow: hidden;      // retirando o scroll-bar
}