.container {
    margin: 15px 30px 0 30px; /* topo | direita | inferior | esquerda */
}

.title {
    color: #28B225;
    font-size: 48px;
}

.formulario {
    display: flex;
    flex-direction: column;

    mat-label {
        color: #28B225
    }
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-item {
    margin: 10px 25px 10px 0;       /* topo | direita | inferior | esquerda */
    width: 100%;

    p {
        color: #212121;
        font-size: 20px;
    }

    input {
        color: #212121;
        width: 100%;
        height: 35px;
        font-size: 20px;
        border: 1px static #212121;
        padding: 5px;
    }
}

.text-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-area-item {
    margin: 10px 25px 10px 0;       /* topo | direita | inferior | esquerda */
    width: 100%;

    p {
        color: #212121;
        font-size: 20px;
    }

    textarea {
        height: 200px;
        width: 100%;
        font-size: 20px;
        border: 1px static #212121;
        color: #212121;
    }
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.botao-fechar {
    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        height: 50px;

        font-size: 24px;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #F49320;
        padding: 0px 40px 0px 40px; /* superior | direita | inferior | esquerda */
        border-radius: 25px;
        border: none;
    }

    button:hover {
        cursor: pointer;
        background-color: #ca7b1a;
    }
}

.botao-salvar {
    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        height: 50px;

        font-size: 24px;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #28B225;
        padding: 0px 40px 0px 40px; /* superior | direita | inferior | esquerda */
        border-radius: 25px;
        border: none;
    }

    button:hover {
        cursor: pointer;
        background-color: #F49320;
    }
}