<ng-container *ngIf="load === false else loaded">
    <app-spinner></app-spinner>
</ng-container>

<ng-template #loaded>

    <div class="container">
        <div class="title">
            <h2>Registrar Alimento no Plano de {{ data.nomePaciente }}</h2>
        </div>
    
            <form class="input-alimentos" [formGroup]="formulario">
    
                <mat-form-field style="width: 70%;" matTooltip="Nome do alimento" appearance="outline">
                    <mat-label>Alimento</mat-label>
                    <input type="text" matInput formControlName="nome">
                </mat-form-field>
    
                <mat-form-field style="width: 40%;" matTooltip="Quantidade de gramas" appearance="outline">
                    <mat-label>Quantidade</mat-label>
                    <input type="number" matInput formControlName="qntGrama">
                </mat-form-field>
        
                <mat-form-field style="width: 35%;" matTooltip="Quantidade de carboidratos" appearance="outline">
                    <mat-label>C</mat-label>
                    <input type="number" matInput formControlName="qntCarboidrato">
                </mat-form-field>
        
                <mat-form-field style="width: 35%;" matTooltip="Quantidade de proteína" appearance="outline">
                    <mat-label>P</mat-label>
                    <input type="number" matInput formControlName="qntProteina">
                </mat-form-field>
        
                <mat-form-field style="width: 35%;" matTooltip="Quantidade de gorduras" appearance="outline">
                    <mat-label>G</mat-label>
                    <input type="number" matInput formControlName="qntGordura">
                </mat-form-field>
            </form>
    
            <div class="registrar">
                <button (click)="cancelar()">
                    Cancelar
                </button>
    
                <button (click)="registrar()">
                    Registrar Alimento
                </button>
            </div>
        
    </div>

</ng-template>