.plano-de-fundo {
    position: absolute;
    width: 100%;
    height: 700px;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#logo {
    width: 30%;
    height: 100%;
}

.botoes-nao-logado {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    flex-wrap: wrap;

    h3 {
        color: #FFFFFF;
        margin-right: 20px;  
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #FFFFFF;
            margin: 25px;
        }
        a:hover {
            cursor: pointer;
            color: #d1cfcf;
        }
    }

    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 24px;
        font-family: Overpass;
        font-weight: lighter;
        background-color: #F49320;
        border: none;
        padding: 10px 40px 10px 40px;  /* superior | direita | inferior | esquerda */
        margin: 50px 0 50px 20px; 
        border-radius: 50px;
        img {
            margin: 0 0 0 15px;
        }
    }

    button:hover {
        cursor: pointer;
        background-color: #b66a0e;
    }
}

.botoes-logado {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    flex-wrap: wrap;

    
    a {
        text-shadow: 0.05em 0.05em 0.05em #333;
        margin-right: 25px;
        font-size: 25px;
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:hover {
        cursor: pointer;
        color: #d1cfcf;
    }


    button {
        box-shadow: 0.05em 0.05em 0.05em #333;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 24px;
        font-family: Overpass;
        font-weight: lighter;
        background-color: #F49320;
        border: none;
        padding: 15px 15px 15px 15px;  /* superior | direita | inferior | esquerda */
        margin: 50px 0 50px 20px; 
        border-radius: 50px;
        img {
            margin: 0 0 0 15px;
        }
    }

    button:hover {
        cursor: pointer;
        background-color: #b66a0e;
    }
}

.container {
    position: absolute;
    width: 100%;
    margin: 100px 0 0 0;   /* superior | direita | inferior | esquerda */
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#title {
    color: #fff;
    font-size: 48px;
    font-family: Overpass;
    font-weight: bold;
}

#subtitle {
    margin-top: 30px;
    color: #fff;
    font-size: 32px;
    font-family: Overpass;
    font-weight: lighter;
    padding: 10px 0 10px 0;     /* superior | direita | inferior | esquerda */
    border-bottom: 3px solid #FFFFFF;
    margin: 3px;
}

.botao {
    color: #FFFFFF;
    font-size: 24px;
    font-family: Overpass;
    font-weight: lighter;
    background-color: #F49320;
    border: none;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    display: flex;
    border-radius: 50px;
}

.botao:hover {
    cursor: pointer;
    background-color: #b66a0e;
}

.botoes-suporiores {
    display: flex;
    flex-direction: row;

    button:hover {
        background-color: #F49320;
        cursor:auto;
    }
}

.inputs {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.input-superior {
    input {
        width: 96%;
        font-size: 24px;
        font-family: Overpass;
        font-weight: lighter;
        border: none;
        border-radius: 50px;
        padding: 12px;
    }

    input:hover {
        background-color: #f0ebeb;
    }
}

.input-inferior {
    margin: 10px 0 0 0;
    input {
        width: 45%;
        font-size: 24px;
        font-family: Overpass;
        font-weight: lighter;
        border: none;
        border-radius: 50px;
        padding: 12px;
    }

    input:hover {
        background-color: #f0ebeb;
    }

    display: flex;
    justify-content: space-between;
}

.submit {
    display: flex;
    flex-direction: row-reverse;

    button {
        margin-top: 10px;
        padding: 10px;
    }
}

.lifestyle {
    margin-top: 250px;
    display: flex;
    align-items: center; 
    justify-content: center;

    img {
        position: absolute;
    }
}

.list {
    margin-top: 100px;
    width: 100%;
    display: flex;
}

.item {
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    img {
        width: 35px;
        height: 27px;
        margin-right: 30px;
    }
}

.imagens {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.imagem1 {
    width: 50%;
}

.imagem2 {
    width: 50%;
}

.imagem3 {
    width: 100%;
    height: 25%;
}

.container-opcoes {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.opcoes {
    background-color: #F2FFF5;
    width: 70%;
    border-radius: 20px;
    box-shadow: -7px -7px rgba(222, 250, 228, 0.769);
}

.opcoes-superior {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    border-bottom: 5px dotted rgba(222, 250, 228, 0.769);
}

.opcoes-inferior {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    section {
        display: flex;
        align-items: center; 
        justify-content: center;
    }
}

.tenha-no-nutriguide {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.tenha-no-nutriguide-title {
    span {
        color: #28B225;
        font-size: 60px;
    }
}

.tenha-no-nutriguide-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.tenha-no-nutriguide-item {
    margin: 10px 40px 10px 40px;       /* superior | direita | inferior | esquerda */
    display: flex;
    align-items: center; 
    justify-content: center;
    max-width: 600px;
    border-bottom: 5px dotted rgba(222, 250, 228, 0.769);

    img {
        margin: 20px;
    }

    h3 {
        margin: 0 0 20px 0;
    }
}

.informacoes {
    width: 100%;
}

.informacoes-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.informacoes-header1 {
    padding: 15px 0 0 150px;  /* superior | direita | inferior | esquerda */
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: end; 
    justify-content: end;
    background-color: #28B225;
    border-radius: 30px;

    h2 {
        color: #FFFFFF;
        display: flex;
        padding-right: 15px;
        font-size: 32px;
    }

    h1 {
        padding-top: 60px;
        font-size: 70px;
    }
}

.informacoes-header2 {
    display: flex;
    flex-direction: column-reverse;

    h1 {
        font-size: 70px;
    }
}

.informacoes-body {
    display: flex;
}

.informacoes-body-esquerda {
    max-width: 600px;
    margin: 100px 70px 100px 100px;

    section {
        display: flex;
        padding: 10px;
        font-size: 16px;
    }

    img {
        width: 20px; 
        height: 20px;
        margin-right: 5px;
    }
}

.informacoes-body-direita {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.footer {
    background-color: #FDE9D2;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-infos {
    margin-bottom: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px dotted rgba(119, 187, 133, 0.769);
    padding-bottom: 30px;

    a {
        font-size: 16px;
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: rgba(119, 187, 133, 0.769);
    }
}