<!--Tela sem login: (não tem a necessidade de um spinner)-->

<ng-container *ngIf="isLogado() === false else logado">
    <!--Header da página inicial:-->
    <img class="plano-de-fundo" src="../../../assets/img/plano-de-fundo2.png">
    <img class="plano-de-fundo" src="../../../assets/img/plano-de-fundo.png">

    <div class="header">
        <img id="logo" src="../../../assets/img/logo.png">

        <div class="botoes-nao-logado">
            <h3>É nutricionista? <a routerLink="/cadastro">Cadastre-se</a></h3>

            <button (click)="irParaLogin()">
                Entrar
                <img src="../../../assets/img/icone-seta.png">
            </button>
        </div>
    </div>

    <div class="container">
        <h2 id="title">
            Procure por um Nutricionista
        </h2>

        <h3 id="subtitle">
            Nutricionistas especialistas em diversas áreas
        </h3>

        <form [formGroup]="this.formulario">
            <div class="botoes-suporiores">
                <button
                    class="botao" 
                    matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"
                >
                    Atendimento Presencial
                </button>
                <button 
                    class="botao"
                    matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"    
                >
                    Teleconsulta
                </button>
            </div>

            <div class="inputs">
                <div class="input-superior">
                    <input type="text" placeholder="Nome do Nutricionista"
                    formControlName="nome">
                </div>
                <div class="input-inferior">
                    <input type="text" placeholder="Especialidade" formControlName="especialidade">
                    <input type="text" placeholder="Região" matTooltip="Ex.: DF" formControlName="regiao">
                </div>
            </div>

            <div class="submit">
                <button 
                    matTooltip="Pesquisar por nutricionistas" 
                    class="botao" 
                    (click)="submeterFormulario()"
                >
                    Pesquisar
                </button>
            </div>
        </form>

        <div class="lifestyle">
            <img src="../../../assets/img/lifestyle.png">
            <h1>Porquê Escolher o nutriguide?</h1>
        </div>

        <div class="list">
            <div style="margin-top: 200px;">
                <img src="../../../assets/img/morangos.png">
            </div>

            <div style="margin: 0 auto;">
                <div class="item">
                    <img src="../../../assets/img/check.png">
                    <p>Procure por nutricionistas especialistas.</p>
                </div>

                <div class="item">
                    <img src="../../../assets/img/check.png">
                    <p>Acesso a comunidade de nutricionistas.</p>
                </div>

                <div class="item">
                    <img src="../../../assets/img/check.png">
                    <p>Planos Alimentares disponíveis a todo momento.</p>
                </div>

                <div class="item">
                    <img src="../../../assets/img/check.png">
                    <p>Atendimentos preseneciais e Teleconsulta.</p>
                </div>

                <div class="item">
                    <img src="../../../assets/img/check.png">
                    <p>Acompanhamento personalizado.</p>
                </div>

                <div class="item">
                    <img src="../../../assets/img/check.png">
                    <p>Registro de Evolução.</p>
                </div>
            </div>

            <div class="imagens">
                <div>
                    <img class="imagem1" src="../../../assets/img/meditacao.png">
                    <img class="imagem2" src="../../../assets/img/corrida.png">
                </div>
                <img class="imagem3" src="../../../assets/img/comidas.png">
            </div>

        </div>

        <div class="container-opcoes">
            <div class="opcoes">
                <div class="opcoes-superior">
                    <h1>Temos Nutricionistas em todas as áreas</h1>
                    <p>Crie hábitos mais saudáveis com dicas personalizadas</p>
                </div>

                <div class="opcoes-inferior">
                    <section>
                        <img src="../../../assets/img/icone-maca.png">
                        <h1>Emagrecimento</h1>
                    </section>
                    <section>
                        <img src="../../../assets/img/icone-banana.png">
                        <h1>Nutrição Esportiva</h1>
                    </section>
                    <section>
                        <img src="../../../assets/img/icone-abacate.png">
                        <h1>Nutrição Clínica</h1>
                    </section>
                </div>
            </div>
        </div>

        <div class="tenha-no-nutriguide">
            <div class="tenha-no-nutriguide-title">
                <h1>Tenha no <span>NUTRIGUIDE</span></h1>
            </div>

            <div class="tenha-no-nutriguide-body">
                <section style="display: flex;">
                    <div class="tenha-no-nutriguide-item">
                        <img src="../../../assets/img/salada.png">
                        <section>
                            <h3>Um plano personalizado</h3>
                            <p>Encontre um plano feito pra você, dentro do seu contexto alimentar e seus objetivos.
                            </p>
                        </section>
                    </div>

                    <div class="tenha-no-nutriguide-item">
                        <img src="../../../assets/img/sucos2.png">
                        <section>
                            <h3>Acompanhe sua evolução</h3>
                            <p>Acompanhe sua evolução de macronutrientes, composição corporal e muito mais!</p>
                        </section>
                    </div>
                </section>

                <section style="display: flex;">
                    <div class="tenha-no-nutriguide-item">
                        <img src="../../../assets/img/frutas.png">
                        <section>
                            <h3>Econtre um Nutricionista de acordo com o seu objetivo</h3>
                            <p>Pesquise por um nutricionista especializado para o seu contexto, seja emagrecimento,
                                ganho de
                                massa ou qualquer outro objetivo.</p>
                        </section>
                    </div>

                    <div class="tenha-no-nutriguide-item">
                        <img src="../../../assets/img/sucos1.png">
                        <section>
                            <h3>Acompanhe as publicações dos Nutricionistas</h3>
                            <p>A aba comunidade e o perfil do nutricionista é perfeito para encontrar dicas
                                nutricionais,
                                receitas e diversos conteúdos educacionais.</p>
                        </section>
                    </div>
                </section>

            </div>
        </div>

        <div class="informacoes">

            <div class="informacoes-header">
                <section class="informacoes-header1">
                    <h2>
                        Consulte-se com os melhores
                    </h2>
                    <h1 style="color: #FFFFFF;">
                        NUTRICI
                    </h1>
                </section>
                <section class="informacoes-header2">
                    <h1 style="color: #28B225;">
                        ONISTAS
                    </h1>
                </section>
            </div>

            <div class="informacoes-body">

                <div class="informacoes-body-esquerda">

                    <p style="font-size: 18px; margin-bottom: 40px;">
                        Nossa equipe de nutricionistas especializados está aqui para ajudá-lo a atingir seus
                        objetivos
                        de
                        saúde e bem-estar.
                        Nossos nutricionistas são profissionais altamente treinados e qualificados, com um profundo
                        conhecimento da ciência por trás da nutrição
                        e como ela pode impactar seu corpo e mente.
                    </p>

                    <div>
                        <section>
                            <img src="../../../assets/img/list.png">
                            <p>Nutricionista registrada na Academia de Nutrição e Dietética.</p>
                        </section>

                        <section>
                            <img src="../../../assets/img/list.png">
                            <p>Mais de 5 anos de experiência na área.</p>
                        </section>

                        <section>
                            <img src="../../../assets/img/list.png">
                            <p>Especializada em controle de peso, prevenção de doenças crônicas e nutrição
                                esportiva.
                            </p>
                        </section>

                        <section>
                            <img src="../../../assets/img/list.png">
                            <p>Hábil no desenvolvimento de receitas e planos de refeições.</p>
                        </section>

                        <section>
                            <img src="../../../assets/img/list.png">
                            <p>Apaixonado por ajudar as pessoas a viver vidas saudáveis ​​e plenas.</p>
                        </section>

                        <section>
                            <img src="../../../assets/img/list.png">
                            <p>Comprometido em se manter atualizado com as últimas pesquisas e tendências em
                                nutrição.
                            </p>
                        </section>
                    </div>
                </div>

                <div class="informacoes-body-direita">
                    <div>
                        <img style="position: absolute; margin: 0 25px 0 0;" src="../../../assets/img/circulos.png">
                        <img style="position: relative; margin: 70px 25px 0 60px;"
                            src="../../../assets/img/nutricionista.png">
                    </div>
                </div>

            </div>

        </div>

        <div class="footer">
            <img src="../../../assets/img/logo-footer.png">
            <div class="footer-infos">
                <a href="">Termos e Condições</a>
                <a href="">Contato</a>
                <a href="">Suporte</a>
            </div>
        </div>

    </div>

</ng-container>

<!--Tela com login: (precisa de um spinner)-->
<ng-template #logado>
    <ng-container *ngIf="load === false else loaded">
        <app-spinner></app-spinner>
    </ng-container>

    <ng-template #loaded>

        <img class="plano-de-fundo" src="../../../assets/img/plano-de-fundo2.png">
        <img class="plano-de-fundo" src="../../../assets/img/plano-de-fundo.png">
        <!--Verificar se o usuário é nutricionista ou se é paciente-->

        <ng-container *ngIf="isNutricionista() === true else paciente">
            <div class="header">
                <img id="logo" src="../../../assets/img/logo.png">

                <div class="botoes-logado">
                    <a routerLink="/consultar-pacientes">Meus Pacientes</a>
                    <a (click)="irParaMinhaComunidade()">Minha Comunidade</a>

                    <button (click)="irParaMeuPerfil()">
                        Meu Perfil
                        <img src="../../../assets/img/icone-user.png">
                    </button>
                </div>
            </div>
        </ng-container>


        <ng-template #paciente>
            <div class="header">
                <img id="logo" src="../../../assets/img/logo.png">

                <div class="botoes-logado">
                    <a (click)="irParaComunidadeDoNutri()" [matTooltip]="strTooltip">Comunidade</a>

                    <button (click)="irParaMeuPerfil()">
                        Meu Perfil
                        <img src="../../../assets/img/icone-user.png">
                    </button>
                </div>
            </div>
        </ng-template>



        <div class="container">
            <h2 id="title">
                Procure por um Nutricionista
            </h2>

            <h3 id="subtitle">
                Nutricionistas especialistas em diversas áreas
            </h3>

            <form [formGroup]="this.formulario">
                <div class="botoes-suporiores">
                    <button 
                        class="botao"
                        matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"    
                    >
                        Atendimento Presencial
                    </button>
                    <button 
                        class="botao"
                        matTooltip="Entre em contato com um nutricionista para saber qual o tipo de atendimento que ele realiza"
                    >
                        Teleconsulta
                    </button>
                </div>

                <div class="inputs">
                    <div class="input-superior">
                        <input type="text" placeholder="Nome do Nutricionista"
                        formControlName="nome">
                    </div>
                    <div class="input-inferior">
                        <input type="text" placeholder="Especialidade" formControlName="especialidade">
                        <input type="text" placeholder="Região" matTooltip="Ex.: DF" formControlName="regiao">
                    </div>
                </div>

                <div class="submit">
                    <button 
                        class="botao" 
                        matTooltip="Pesquisar por nutricionistas" 
                        (click)="submeterFormulario()"
                    >
                        Pesquisar
                    </button>
                </div>
            </form>

            <div class="lifestyle">
                <img src="../../../assets/img/lifestyle.png">
                <h1>Porquê Escolher o nutriguide?</h1>
            </div>

            <div class="list">
                <div style="margin-top: 200px;">
                    <img src="../../../assets/img/morangos.png">
                </div>

                <div style="margin: 0 auto;">
                    <div class="item">
                        <img src="../../../assets/img/check.png">
                        <p>Procure por nutricionistas especialistas.</p>
                    </div>

                    <div class="item">
                        <img src="../../../assets/img/check.png">
                        <p>Acesso a comunidade de nutricionistas.</p>
                    </div>

                    <div class="item">
                        <img src="../../../assets/img/check.png">
                        <p>Planos Alimentares disponíveis a todo momento.</p>
                    </div>

                    <div class="item">
                        <img src="../../../assets/img/check.png">
                        <p>Atendimentos preseneciais e Teleconsulta.</p>
                    </div>

                    <div class="item">
                        <img src="../../../assets/img/check.png">
                        <p>Acompanhamento personalizado.</p>
                    </div>

                    <div class="item">
                        <img src="../../../assets/img/check.png">
                        <p>Registro de Evolução.</p>
                    </div>
                </div>

                <div class="imagens">
                    <div>
                        <img class="imagem1" src="../../../assets/img/meditacao.png">
                        <img class="imagem2" src="../../../assets/img/corrida.png">
                    </div>
                    <img class="imagem3" src="../../../assets/img/comidas.png">
                </div>

            </div>

            <div class="container-opcoes">
                <div class="opcoes">
                    <div class="opcoes-superior">
                        <h1>Temos Nutricionistas em todas as áreas</h1>
                        <p>Crie hábitos mais saudáveis com dicas personalizadas</p>
                    </div>

                    <div class="opcoes-inferior">
                        <section>
                            <img src="../../../assets/img/icone-maca.png">
                            <h1>Emagrecimento</h1>
                        </section>
                        <section>
                            <img src="../../../assets/img/icone-banana.png">
                            <h1>Nutrição Esportiva</h1>
                        </section>
                        <section>
                            <img src="../../../assets/img/icone-abacate.png">
                            <h1>Nutrição Clínica</h1>
                        </section>
                    </div>
                </div>
            </div>

            <div class="tenha-no-nutriguide">
                <div class="tenha-no-nutriguide-title">
                    <h1>Tenha no <span>NUTRIGUIDE</span></h1>
                </div>

                <div class="tenha-no-nutriguide-body">
                    <section style="display: flex;">
                        <div class="tenha-no-nutriguide-item">
                            <img src="../../../assets/img/salada.png">
                            <section>
                                <h3>Um plano personalizado</h3>
                                <p>Encontre um plano feito pra você, dentro do seu contexto alimentar e seus objetivos.
                                </p>
                            </section>
                        </div>

                        <div class="tenha-no-nutriguide-item">
                            <img src="../../../assets/img/sucos2.png">
                            <section>
                                <h3>Acompanhe sua evolução</h3>
                                <p>Acompanhe sua evolução de macronutrientes, composição corporal e muito mais!</p>
                            </section>
                        </div>
                    </section>

                    <section style="display: flex;">
                        <div class="tenha-no-nutriguide-item">
                            <img src="../../../assets/img/frutas.png">
                            <section>
                                <h3>Econtre um Nutricionista de acordo com o seu objetivo</h3>
                                <p>Pesquise por um nutricionista especializado para o seu contexto, seja emagrecimento,
                                    ganho de
                                    massa ou qualquer outro objetivo.</p>
                            </section>
                        </div>

                        <div class="tenha-no-nutriguide-item">
                            <img src="../../../assets/img/sucos1.png">
                            <section>
                                <h3>Acompanhe as publicações dos Nutricionistas</h3>
                                <p>A aba comunidade e o perfil do nutricionista é perfeito para encontrar dicas
                                    nutricionais,
                                    receitas e diversos conteúdos educacionais.</p>
                            </section>
                        </div>
                    </section>

                </div>
            </div>

            <div class="informacoes">

                <div class="informacoes-header">
                    <section class="informacoes-header1">
                        <h2>
                            Consulte-se com os melhores
                        </h2>
                        <h1 style="color: #FFFFFF;">
                            NUTRICI
                        </h1>
                    </section>
                    <section class="informacoes-header2">
                        <h1 style="color: #28B225;">
                            ONISTAS
                        </h1>
                    </section>
                </div>

                <div class="informacoes-body">

                    <div class="informacoes-body-esquerda">

                        <p style="font-size: 18px; margin-bottom: 40px;">
                            Nossa equipe de nutricionistas especializados está aqui para ajudá-lo a atingir seus
                            objetivos
                            de
                            saúde e bem-estar.
                            Nossos nutricionistas são profissionais altamente treinados e qualificados, com um profundo
                            conhecimento da ciência por trás da nutrição
                            e como ela pode impactar seu corpo e mente.
                        </p>

                        <div>
                            <section>
                                <img src="../../../assets/img/list.png">
                                <p>Nutricionista registrada na Academia de Nutrição e Dietética.</p>
                            </section>

                            <section>
                                <img src="../../../assets/img/list.png">
                                <p>Mais de 5 anos de experiência na área.</p>
                            </section>

                            <section>
                                <img src="../../../assets/img/list.png">
                                <p>Especializada em controle de peso, prevenção de doenças crônicas e nutrição
                                    esportiva.
                                </p>
                            </section>

                            <section>
                                <img src="../../../assets/img/list.png">
                                <p>Hábil no desenvolvimento de receitas e planos de refeições.</p>
                            </section>

                            <section>
                                <img src="../../../assets/img/list.png">
                                <p>Apaixonado por ajudar as pessoas a viver vidas saudáveis ​​e plenas.</p>
                            </section>

                            <section>
                                <img src="../../../assets/img/list.png">
                                <p>Comprometido em se manter atualizado com as últimas pesquisas e tendências em
                                    nutrição.
                                </p>
                            </section>
                        </div>
                    </div>

                    <div class="informacoes-body-direita">
                        <div>
                            <img style="position: absolute; margin: 0 25px 0 0;" src="../../../assets/img/circulos.png">
                            <img style="position: relative; margin: 70px 25px 0 60px;"
                                src="../../../assets/img/nutricionista.png">
                        </div>
                    </div>

                </div>

            </div>

            <div class="footer">
                <img src="../../../assets/img/logo-footer.png">
                <div class="footer-infos">
                    <a href="">Termos e Condições</a>
                    <a href="">Contato</a>
                    <a href="">Suporte</a>
                </div>
            </div>

        </div>

    </ng-template>
</ng-template>