<div class="header">
    <h1>NutriGuide</h1>
</div>

<div class="formulario">
    <h2>
        Procure por um Nutricionista
    </h2>

    <h3>
        Nutricionistas especialistas em diversas áreas
    </h3>

    <form [formGroup]="this.formulario">
        <div class="botoes-suporiores">
            <button class="botao" formControlName="atendimentoPresencial">Atendimento Presencial</button>
            <button class="botao" formControlName="teleconsulta">Teleconsulta</button>
        </div>

        <div class="inputs">
            <input 
                class="input-superior" 
                type="text" 
                placeholder="Nome do Nutricionista"
                formControlName="nome"
            >
            <div class="input-inferior">
                <input type="text" placeholder="Especialidade" formControlName="especialidade">
                <input type="text" placeholder="Cidade ou Região" formControlName="cidadeRegiao">
            </div>
        </div>    

        <div class="submit">
            <button class="botao" (click)="submeterFormulario()">Pesquisar</button>
        </div>
    </form>
</div>