<div class="container">

    <div class="header">
        <img src="../../../assets/img/logo2.png">

        <h1>Login</h1>
    </div>

    <form class="formulario" [formGroup]="this.formulario">

        <mat-form-field class="item" appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input type="text" matInput placeholder="Nome Completo" formControlName="nome">
        </mat-form-field>

        <mat-form-field class="item" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="E-mail" formControlName="email">
        </mat-form-field>

        <div class="botao">
            <div class="cancelar">
                <button (click)="cancelar()">Cancelar</button>
            </div>

            <div class="logar">
                <button (click)="login()">Entrar</button>
            </div>
        </div>

    </form>


</div>